/slide_1_3/ex_2_elevado_quadrado/nbproject/private/
/slide_1_3/ex_2_elevado_quadrado/build/
/slide_1_3/ex_3_moveis_vendidos/nbproject/private/
/slide_1_3/ex_3_moveis_vendidos/build/
/slide_1_3/ex_4_prestacao_atraso/nbproject/private/
/slide_1_3/ex_4_prestacao_atraso/build/
/ProjetoPassagem/ProjetoPassagem/build/