/slide_1_3/ex_2_elevado_quadrado/nbproject/private/
/slide_1_3/ex_2_elevado_quadrado/build/
/slide_1_3/ex_3_moveis_vendidos/nbproject/private/
/slide_1_3/ex_3_moveis_vendidos/build/
/slide_1_3/ex_4_prestacao_atraso/nbproject/private/
/slide_1_3/ex_4_prestacao_atraso/build/
/ProjetoPassagem/ProjetoPassagem/build/
/slide_2_1/ex_2_Cliente/nbproject/private/
/slide_2_1/ex_2_Cliente/build/
/slide_2_1/ex_3_fornecedores/nbproject/private/
/slide_2_1/ex_3_fornecedores/build/
/slide_2_1/Dobro/nbproject/private/
/slide_2_1/ex_1_Passagem/nbproject/private/
/slide_2_1/ex_1_Passagem/build/
/slide_2_1/ex_1_Passagem/dist/
/slide_2_1/ex_5_Produto/nbproject/private/
/slide_2_1/ex_4_Dobro/build/
/slide_2_1/ex_5_Produto/build/
/slide_2_1/ex_6_MediaMatematica/nbproject/private/
/slide_2_1/ex_6_MediaMatematica/build/
/slide_2_2/ex_1_Multiplicacao/nbproject/private/
/ProjetoCaixaMenu/nbproject/private/
/ProjetoCaixaMenu/build/
/ProjetoPassagem/build/
/ex_1_Multiplicacao4/nbproject/private/
/slide_2_2/ex_1_Multiplicacao4/nbproject/private/
/ProjetoFormularioBD/nbproject/private/
/slide_2_2/ex_1_Multiplicacao4/build/
/slide_2_2/ex_2_numQuadrado/nbproject/private/
/slide_2_2/ex_2_numQuadrado/build/
/slide_2_2/ex_3_PerssoaNascimento/nbproject/private/
/slide_2_2/ex_3_PerssoaNascimento/build/
/slide_2_2/ex_4_dadosCompra/nbproject/private/
/slide_2_2/ex_4_dadosCompra/build/
/Projeto_BD_Exemplo2/nbproject/private/
/Projeto_BD_Exemplo2/build/
/ProjetoMenuCrud/nbproject/private/
/ProjetoMenuCrud/dist/
/ProjetoMenuCrud/build/
/ex_1_calculadoraBasica/nbproject/private/
/ex_1_calculadoraBasica/build/
/ControleComissao/nbproject/private/
/slide_3/ex_2_controleComissao/build/
/ex_1_CalculoCustoPiso/nbproject/private/
/slide_4/ex_1_CalculoCustoPiso/build/
/slide_5/ex_1_cacdastroUsuario/nbproject/private/